extends layout

block content
  h1= title
  p Welcome to #{title}
  p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta quas amet aspernatur sint officiis quisquam in porro eveniet sunt quidem ab, cum, possimus dolor itaque dicta minima nisi voluptate dolorem!